*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
workspace/
/ConvenienceShare/nbproject/private/
ConvenienceShare/app/
ConvenienceShare/temp/
/ConvenienceShare/build/
/ConvenienceShare/dist/
scripts/dist/
/Common/nbproject/private/
/Installer/nbproject/private/
/Updater/nbproject/private/
/Tracker/nbproject/private/
instances/
Installer/manifest.mf
*keys.txt
*~
Common/json/
Common/.classpath
ConvenienceShare/.classpath
*settings.props
*.classpath
/Common/build/
/Common/dist/
/Common/nbbuild/
/Common/nbdist/